.bg1{
    background-image: url('/public/back-images/bg1.png');
}
.bg2{
    background-image: url('/public/back-images/bg2.png');
}
.bg3{
    background-image: url('/public/back-images/bg3-1.png');
}
.bg3-after{
    background-image: url('/public/back-images/bg3.png');
}