.bg4-1 {
    background-image: url('/public/back-images/4/bg1.png');
}

.bg4-2 {
    background-image: url('/public/back-images/4/bg2.png');
}
.bg4-2-1 {
    background-image: url('/public/back-images/4/bg2-1.png');
}
.bg4-2-2 {
    background-image: url('/public/back-images/4/bg2-2.png');
}

.bg4-3 {
    background-image: url('/public/back-images/4/bg3.png');
}