.ranking-modal2 {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: black;
    color: white;
    border: 3px solid white;
    padding: 0px 50px 55px 50px;
    border-radius: 15px;
    z-index: 999;
}

.ranking-modal2 h2 {
    height: 70px;
    text-align: center;
    align-content: center;
}

.ranking-modal2 ol {
    width: 400px;
    height: 300px;
    overflow: auto;
}
.ranking-modal2 .top3{
    background-color: black;
    position: sticky;
    top: 0;
}
.ranking-modal2 .top3 ul{
    height: 75px;
}
.ranking-modal2 ul li:nth-child(1){
    color: gold;
}
.ranking-modal2 ul li:nth-child(2){
    color: silver;
}
.ranking-modal2 ul li:nth-child(3){
    color: brown;
}

.ranking-modal2 ol::-webkit-scrollbar {
    width: 10px;
}

.ranking-modal2 ol::-webkit-scrollbar-thumb {
    background: white;
    /* 스크롤바 색상 */
    border-radius: 10px;
    /* 스크롤바 둥근 테두리 */
}

.ranking-modal2 button {
    font-size: 16px;
    padding: 5px 30px;
    margin: 10px 0;
    background-color: #fff;
    color: black;

    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);

    box-shadow: -1px -1px 2px 1px #444 inset;
}

.ranking-modal2 button:active {
    background-color: silver;
    box-shadow: 1px 1px 2px 1px #444 inset;
}